####################
### PYTHON STUFF ###
####################

# ignore pycache
__pycache__/

# Flask stuff:
instance/
.webassets-cache


# Environments
.env

############
### MISC ###
############

# ignore vscode
.vscode

# ignore the currently stored files in the flash directory
flashApp/static/flash/
